* {
	box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #9FC6B9;
  font-family: 'Orbitron', sans-serif;
}

#header-brand {
	height: 100px;
	text-shadow:  1px 1px 2px black, 0 0 1em red;
}

#header-brand a:hover, #header-brand a:focus {
	text-decoration: none;
}

#header-nav {
	border-radius: 0;
	border: 0;
	background-color: #4D605A;
}

.row-text {
	padding: 10px;
	background-color: #4D605A;
	
}